# pip 23.2.1
# Python 3.9.21
beautifulsoup4==4.9.1
bidict==0.19.0
confugue==0.1.1
essentia==2.1b6.dev1110
librosa==0.8.0
matplotlib==3.7.2
# note-seq==0.0.1
notebook==7.2.1
numpy==1.24.4
pandas==2.0.3
pretty-midi==0.2.9
pydub==0.24.1
pysndfx==0.3.6
regex==2020.7.14
scikit_learn==0.23.2
scipy==1.5.1
SoundFile==0.10.3.post1
tensorflow==2.13.0
torch==2.0.1
